# Use this notbook for your 3 choices of APIs

In [1]:
# Importing requests library

import requests
import pandas as pd

pd.set_option("display.max_rows", 0)

In [2]:
# 
# 200: Everything went okay and the result has been returned (if any).
# 301: The server is redirecting you to a different endpoint. This can happen when a company switches domain names, or an endpoint name is changed.
# 400: The server thinks you made a bad request. This happens when you don’t send along the right data, among other things.
# 401: You are not properly authenticated.
# 403: The resource you’re trying to access is forbidden: you don’t have the right permissions to get it.
# 404: The resource you tried to access doesn't exist.
# 503: The server can't handle the request.
# full list: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

# 1st Dataframe

In [3]:
import json

response = requests.get("https://xkcd.com/info.0.json")

results = response.json()

print("response:", response.status_code)

response: 200

In [4]:
print(response.text)

{"month": "10", "num": 2683, "link": "", "year": "2022", "news": "", "safe_title": "Fan Theories", "transcript": "", "alt": "The universe fandom is great. Such sweet and enthusiastic people.", "img": "https://imgs.xkcd.com/comics/fan_theories.png", "title": "Fan Theories", "day": "10"}

In [5]:
results

{'month': '10',
 'num': 2683,
 'link': '',
 'year': '2022',
 'news': '',
 'safe_title': 'Fan Theories',
 'transcript': '',
 'alt': 'The universe fandom is great. Such sweet and enthusiastic people.',
 'img': 'https://imgs.xkcd.com/comics/fan_theories.png',
 'title': 'Fan Theories',
 'day': '10'}

In [6]:
data = pd.DataFrame.from_dict(results, orient="index").transpose()

data

,month,num,link,year,news,safe_title,transcript,alt,img,title,day
0,10,2683,,2022,,Fan Theories,,The universe fandom is great. Such sweet and e...,https://imgs.xkcd.com/comics/fan_theories.png,Fan Theories,10

# 2nd Dataframe: Student chapters

In [8]:
response = requests.get('https://services2.arcgis.com/5I7u4SJE1vUr79JC/arcgis/rest/services/UniversityChapters_Public/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json')

results = response.json()

print("response:", response.status_code)

response: 200

In [ ]:
#results

In [9]:
#results['features']
results['features'][0]

{'attributes': {'OBJECTID': 2,
  'University_Chapter': 'Florida State University',
  'City': 'Tallahassee',
  'State': 'FL',
  'ChapterID': 'FL0110',
  'MEVR_RD': 'Jarrett Lafferty'},
 'geometry': {'x': -84.30427263699994, 'y': 30.438110943000027}}

In [10]:
data_0 = pd.DataFrame.from_dict(results['features'][0], orient= 'index')

for i in range(1, 97):
    data_1 = pd.DataFrame.from_dict(results['features'][i], orient= 'index')
    data_0 = pd.concat([data_0, data_1], axis=0)
    
    data_0

In [11]:
display(data_0.head())
display(data_0.columns)

,OBJECTID,University_Chapter,City,State,ChapterID,MEVR_RD,x,y
attributes,2.0,Florida State University,Tallahassee,FL,FL0110,Jarrett Lafferty,NaN,NaN
geometry,NaN,NaN,NaN,NaN,NaN,NaN,-84.304273,30.438111
attributes,3.0,Abraham Baldwin Agricultural College,Tifton,GA,GA0020,Brice Crawford,NaN,NaN
geometry,NaN,NaN,NaN,NaN,NaN,NaN,-83.510064,31.463418
attributes,4.0,University of Georgia,Athens,GA,GA0133,Scott James,NaN,NaN

Index(['OBJECTID', 'University_Chapter', 'City', 'State', 'ChapterID',
       'MEVR_RD', 'x', 'y'],
      dtype='object')

In [12]:
# I will divide the df into two dfs: attributes and geometries. Attributes df will have everything but the 
    #x and y columns.
    # geometry df will have x and y columns.
    
        #Then I will concatenate them on axis=1

attributes= data_0[data_0['x'].isna() == True]
attributes=attributes[["OBJECTID","University_Chapter","City","State","ChapterID","MEVR_RD"]]
attributes.reset_index(inplace=True)

geometry= data_0[data_0['x'].isna() == False]
geometry=geometry[['x','y']]
geometry.reset_index(inplace=True)

student_chapters_df = pd.concat([attributes, geometry], axis=1)

student_chapters_df.drop(['index','index'], inplace=True, axis=1)

student_chapters_df.head()

,OBJECTID,University_Chapter,City,State,ChapterID,MEVR_RD,x,y
0,2.0,Florida State University,Tallahassee,FL,FL0110,Jarrett Lafferty,-84.304273,30.438111
1,3.0,Abraham Baldwin Agricultural College,Tifton,GA,GA0020,Brice Crawford,-83.510064,31.463418
2,4.0,University of Georgia,Athens,GA,GA0133,Scott James,-83.383246,33.955464
3,5.0,Georgia Southern University,Statesboro,GA,GA0144,Brice Crawford,-81.779237,32.445146
4,6.0,Georgia Tech University,Atlanta,GA,GA0147,Scott James,-84.403173,33.759509

# 3rd piece of data

In [14]:
import json

response = requests.get('https://api.chucknorris.io/jokes/random')

results = response.json()

print("response:", response.status_code)

response: 200

In [15]:
results

{'categories': [],
 'created_at': '2020-01-05 13:42:30.480041',
 'icon_url': 'https://assets.chucknorris.host/img/avatar/chuck-norris.png',
 'id': 's2jM0EbWTFe-yMDkvM_JfQ',
 'updated_at': '2020-01-05 13:42:30.480041',
 'url': 'https://api.chucknorris.io/jokes/s2jM0EbWTFe-yMDkvM_JfQ',
 'value': 'one day 7 year old Chuck Norris swam to europe, next day nazi surrendered'}

In [16]:
results['value']

'one day 7 year old Chuck Norris swam to europe, next day nazi surrendered'

# 4th Dataframe

In [18]:
import json

response = requests.get('https://tenders.guru/api/hu/tenders')

results = response.json()

print("response:", response.status_code)

response: 200

In [23]:
#results['data']

In [20]:
data = pd.DataFrame(results['data'])
data.head()

,id,date,deadline_date,title,category,description,phase,phase_en,place,sid,eid,awarded_value,awarded_currency,awarded_value_eur,purchaser,type,awarded,deadline_length_days,indicators
0,36077,2021-08-01,2021-08-12,"""Régészeti feltárásokhoz szükséges kézi földmu...",constructions,Vállalkozási keretszerződés régészeti feltárás...,"E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU MAGYARORSZÁG,EKR000835312021,8799438370123,299000000.00,HUF,819784.50,"{'id': 4895, 'sid': 8796421322032, 'name': 'Sz...","{'id': '2', 'name': '2', 'slug': '2'}","[{'date': '2021-11-17', 'value_for_two': 29900...",NaN,NaN
1,36073,2021-09-26,2021-10-07,Cserepes és Szélmalom utcák felújítása,constructions,"1. részajánlat: Kisújszállás, Cserepes utca fe...","E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU322 Jász-Nagykun-Szolnok,EKR001148352021,8799640974667,56147040.00,HUF,153941.38,"{'id': 118, 'sid': 8796604921136, 'name': 'Kis...","{'id': '2', 'name': '2', 'slug': '2'}","[{'date': '2021-11-17', 'value_for_two': 0, 'v...",11,NaN
2,36067,2021-01-17,2021-01-28,Bölcsőde építése Dömösön – TOP-1.4.1-19-KO1-2019,constructions,Dömösi Szivárvány Óvoda bővítése 8 férőhelyes ...,"E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU212 Komárom-Esztergom,EKR000040282021,8799014909259,51809732.00,HUF,142049.55,"{'id': 4894, 'sid': 8796369876272, 'name': 'Dö...","{'id': '2', 'name': '2', 'slug': '2'}","[{'date': '2021-11-17', 'value_for_two': 0, 'v...",11,NaN
3,36060,2021-01-28,2021-03-03,Építési beruházás - EFOP-2.4.1,constructions,Ajánlatkérő az EFOP-2.4.1-16-2017-00060 azonos...,"E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU332 Békés,EKR001395772020,8798981911883,204326253.00,HUF,560212.36,"{'id': 3106, 'sid': 8796376069424, 'name': 'Ku...","{'id': '2', 'name': '2', 'slug': '2'}","[{'date': '2021-11-17', 'value_for_two': 46361...",NaN,NaN
4,36059,2021-10-21,2021-11-03,Felszíni vízrendezés I. üteme,constructions,"A belterület védelmét szolgáló egységes, de sz...","E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU211 Fejér,EKR001305162021,8799742096715,138496654.00,HUF,379723.78,"{'id': 1589, 'sid': 8796617504048, 'name': 'Na...","{'id': '2', 'name': '2', 'slug': '2'}","[{'date': '2021-11-17', 'value_for_two': 0, 'v...",13,NaN

In [21]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [22]:
nested_columns = ['purchaser','type']

flat = flatten(data, nested_columns)
flat.head()

,id,date,deadline_date,title,category,description,phase,phase_en,place,sid,...,awarded_value_eur,awarded,deadline_length_days,indicators,purchaser_id,purchaser_sid,purchaser_name,type_id,type_name,type_slug
0,36077,2021-08-01,2021-08-12,"""Régészeti feltárásokhoz szükséges kézi földmu...",constructions,Vállalkozási keretszerződés régészeti feltárás...,"E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU MAGYARORSZÁG,EKR000835312021,...,819784.50,"[{'date': '2021-11-17', 'value_for_two': 29900...",NaN,NaN,4895,8796421322032,Szent István Király Múzeum,2,2,2
1,36073,2021-09-26,2021-10-07,Cserepes és Szélmalom utcák felújítása,constructions,"1. részajánlat: Kisújszállás, Cserepes utca fe...","E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU322 Jász-Nagykun-Szolnok,EKR001148352021,...,153941.38,"[{'date': '2021-11-17', 'value_for_two': 0, 'v...",11,NaN,118,8796604921136,Kisújszállás Város Önkormányzata,2,2,2
2,36067,2021-01-17,2021-01-28,Bölcsőde építése Dömösön – TOP-1.4.1-19-KO1-2019,constructions,Dömösi Szivárvány Óvoda bővítése 8 férőhelyes ...,"E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU212 Komárom-Esztergom,EKR000040282021,...,142049.55,"[{'date': '2021-11-17', 'value_for_two': 0, 'v...",11,NaN,4894,8796369876272,Dömös Község Önkormányzat,2,2,2
3,36060,2021-01-28,2021-03-03,Építési beruházás - EFOP-2.4.1,constructions,Ajánlatkérő az EFOP-2.4.1-16-2017-00060 azonos...,"E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU332 Békés,EKR001395772020,...,560212.36,"[{'date': '2021-11-17', 'value_for_two': 46361...",NaN,NaN,3106,8796376069424,Kunágota Község Önkormányzata,2,2,2
4,36059,2021-10-21,2021-11-03,Felszíni vízrendezés I. üteme,constructions,"A belterület védelmét szolgáló egységes, de sz...","E60 - Szerződéskötési-, teljesítési szakasz",Contracting and performance phase,HU211 Fejér,EKR001305162021,...,379723.78,"[{'date': '2021-11-17', 'value_for_two': 0, 'v...",13,NaN,1589,8796617504048,Nagyvenyim Nagyközség Önkormányzat,2,2,2

In [30]:
flat['awarded']


# from pandas.io.json import json_normalize

# flattened_data = pd.json_normalize(flat['awarded'])

# flattened_data

0     [{'date': '2021-11-17', 'value_for_two': 29900...
1     [{'date': '2021-11-17', 'value_for_two': 0, 'v...
2     [{'date': '2021-11-17', 'value_for_two': 0, 'v...
3     [{'date': '2021-11-17', 'value_for_two': 46361...
4     [{'date': '2021-11-17', 'value_for_two': 0, 'v...
5     [{'date': '2021-11-17', 'value_for_two': 78905...
6     [{'date': '2021-11-17', 'value_for_two': 0, 'v...
7     [{'date': '2021-11-17', 'value_for_two': 0, 'v...
8     [{'date': '2021-11-17', 'value_for_two': 48853...
9     [{'date': '2021-11-17', 'value_for_two': 33368...
10    [{'date': '2021-11-17', 'value_for_two': 19445...
11    [{'date': '2021-11-17', 'value_for_two': 30000...
                            ...
88    [{'date': '2021-11-10', 'value_for_two': 29999...
89    [{'date': '2021-11-10', 'value_for_two': 0, 'v...
90    [{'date': '2021-11-10', 'value_for_two': 0, 'v...
91    [{'date': '2021-11-10', 'value_for_two': 0, 'v...
92    [{'date': '2021-11-10', 'value_for_two': 0, 'v...
93    [{'date': '2021-11-10', 'value_for_two': 0, 'v...
94    [{'date': '2021-11-10', 'value_for_two': 59543...
95    [{'date': '2021-11-09', 'value_for_two': 0, 'v...
96    [{'date': '2021-11-09', 'value_for_two': 0, 'v...
97    [{'date': '2021-11-09', 'value_for_two': 0, 'v...
98    [{'date': '2021-11-09', 'value_for_two': 57586...
99    [{'date': '2021-11-09', 'value_for_two': 0, 'v...
Name: awarded, Length: 100, dtype: object